<div class="row boxFooter">
    <footer class="col-xs-12">
        <div class="row">
            <div class="col-sm-6 BoxLogoFooter">
                <div class="logo-footer">
                    <a href="" target="_blank" title="Ilumno"><img src="./assets/img/logo_ilumno_footer.png" alt="Ilumno"></a>
                </div>
            </div>
            <div class="col-sm-6 boxContacto">
                <div class="boxRedes">
                    <p>Síguenos</p>
                    <ul class="redes list-inline">
                        <a href="#" target="_blank">
                            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                        </a>
                        <a href="#" target="_blank">
                            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                        </a>
                        <a href="#" target="_blank">
                            <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                        </a>
                        <a href="#" target="_blank">
                            <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>