<div class="container-fluid">
    <div class="row">

        <section id="content">
            
            <section class="miga">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Administración</a>
                    </li>
                    <li class="active">Configuración de servicios</li>
                </ol>
            </section>
            <section id="mainContent">
                <div class="module">
                    <div class="headModule" *ngIf="!rol || rol == '' || rol == 'undefined'" >
                        <h1>Seleccione una Universidad y configure los servicios</h1>
                    </div>
                    <div class="bodyModule">
                        <div class="row boxCombo" *ngIf="!rol || rol == '' || rol == 'undefined'" >
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{ 'Administracion.LabelUniversidad' | translate }}</label>
                                    <div class="boxSelect">
                                        <select name="" id="input" class="form-control" required="required" (change)="cargar_datos($event.target.value)">
                                            <option value="0" hidden>Seleccione...</option>
                                            <option value="1">Areandina</option>
                                            <option value="2">Politécnico</option>
                                            <option value="3">Central</option>
                                            <option value="4">UANE</option>
                                            <option value="5">USAM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row boxTabs">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">{{ 'Administracion.LabelConsultaAcademica' | translate }}</a></li>
                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">{{ 'Administracion.LabelSolicitudFinanciera' | translate }}</a></li>
                                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">{{ 'Administracion.LabelSolicitudAcademica' | translate }}</a></li>
                                    <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">{{ 'Administracion.LabelPortales' | translate }}</a></li>
                                </ul>

                                <div *ngIf="loading">
                                    <br>
                                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                    <span class="sr-only">Loading...</span>
                                </div>


                                <div class="tab-content" *ngIf="!loading && mostrar_tabla">
                                    <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                                        <app-lista-servicios [total_modalidades]= "total_modalidades"  [total_niveles] = "total_niveles"
                                              [total_estados] = "total_estados" [tipos] = "tipos" [servicios] = "servicios | filtroServicios:1">
                                        </app-lista-servicios>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab2">
                                        <app-lista-servicios [total_modalidades]= "total_modalidades"  [total_niveles] = "total_niveles"
                                              [total_estados] = "total_estados" [tipos] = "tipos" [servicios] = "servicios | filtroServicios:2">
                                        </app-lista-servicios>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab3">
                                        <app-lista-servicios [total_modalidades]= "total_modalidades"  [total_niveles] = "total_niveles"
                                              [total_estados] = "total_estados" [tipos] = "tipos" [servicios] = "servicios | filtroServicios:3">
                                        </app-lista-servicios>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab4">
                                        <app-lista-servicios [total_modalidades]= "total_modalidades"  [total_niveles] = "total_niveles"
                                              [total_estados] = "total_estados" [tipos] = "tipos" [servicios] = "servicios | filtroServicios:4">
                                        </app-lista-servicios>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>

</div>