<h1 translate>Title</h1>

<div>
  {{ 'Intro' | translate:user }}
</div>

<div>
  {{ 'Startpage.TranslationSections' | translate}}
</div>
<div translate>
  Startpage.TranslationSections 
</div>


<button class="btn btn-success" (click)="switchLanguage('en')">English</button>

<button class="btn btn-warning"  (click)="switchLanguage('es')">Español</button>

<button class="btn btn-danger"  (click)="switchLanguage('pt')">Portugues</button>
<div class="container">
  <app-administracion></app-administracion>
</div>
