<!-- <h1 translate>Title</h1>

<div>
  {{ 'Intro' | translate:user }}
  {{ 'Administracion.LabelUniversidad' | translate }}
</div>

<div>
  {{ 'Startpage.TranslationSections' | translate}}
</div>
<div translate>
  Startpage.TranslationSections 
</div> -->


<!--
    <div class="col-md-6">
    <div class="form-group">
        <label for="">Usuario</label>
          <select class="form-control" (change)="universidad=$event.target.value" name="usuarios" >
            <option value="0">Administrador Ilumno</option>
            <option value="1" >Administrador UniAndina</option>
            <option value="2" >Administrador Politectico</option>
        </select>
      </div>
    </div>
  </div>
    </div> -->
    <div class="container-fluid">
      <div class="row">
          <app-header></app-header>
          <app-administracion [universidad]="universidad" ></app-administracion>
          <app-footer></app-footer>
      </div>
    </div>

