<!-- <h1 translate>Title</h1>

<div>
  {{ 'Intro' | translate:user }}
  {{ 'Administracion.LabelUniversidad' | translate }}
</div>

<div>
  {{ 'Startpage.TranslationSections' | translate}}
</div>
<div translate>
  Startpage.TranslationSections 
</div> -->

<div class="container main-container">
    <div class="form-group">
        <label for="">Idioma</label>
        <select class="form-control" (change)="switchLanguage($event.target.value)">
            <option value="es">Español</option>
            <option value="en" >Ingles</option>
            <option value="pt" >Portugues</option>
        </select>
      </div>

    <app-administracion></app-administracion>
</div>
