/* You can add global styles to this file, and also import other style files */
.main-container{
    margin-top: 30px;
    margin-bottom: 40px
}

/* tr {
    width: 500px;
    display: inline-table;
    table-layout: fixed;
    } */
    /* .tabla{
        height:500px;             
        display: -moz-groupbox;
        overflow-y: scroll;      
        overflow-x: scroll;       
        width: 100%;
        position: absolute;
    } */
    
    .tabla{
        position: relative;
        height:300px;
        overflow-y: scroll;
    }